@font-face {
    font-family: 'WisdomFont';
    src: url('warriortype-webfont.woff2') format('woff2'),
         url('warriortype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
body {
	font-family: WisdomFont;
}